.faq-container {
  max-width: 500px;
  margin: 10px auto;
  font-family: sans-serif;
  
}

.question {
  cursor: pointer;
  padding: 12px;
  background: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
  user-select: none;
}

.answer {
  background: #fafbfc;
  padding: 0 12px;
}

